div.heading{
  text-align: center;
  padding: 5px;
  background-color: #000;
  width: 96.5%;
  float: left;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  border-radius: 4px 4px 0px 0px;
}

div.primary h1,
div.primary h2,
div.primary h3,
div.primary h4,
div.primary h5,
div.primary h6{
  color: #fff;
  margin: 0px;
}
div.primary{
  background-color:#00529C;;
}
