
:host {
  --color-primary: blue;
  --color-danger: red;
}

div.heading{
  text-align: center;
  padding: 5px;
  background-color: #000;
  width: 100%;
  float: left;
  color: #fff;
  text-align: center;
}

div.primary h1,
div.primary h2,
div.primary h3,
div.primary h4,
div.primary h5,
div.primary h6{
  color: #fff;
}

div.primary{
  background-color: var(--color-primary);
}
